# PostgreSQL Database URL
DATABASE_URL=xxxx
# Redis URL
REDIS_URL=""
# Hackclub AI API Key
HACKCLUB_AI_API_KEY="skf8ff22fb572743778363fc7871f2ead2d530076f12d44abaa1b2ae54b81fa92e"
# JWT Secret
JWT_SECRET=xxxx

R2_ACCESS_KEY_ID=xxxx
R2_SECRET_ACCESS_KEY=xxxx
R2_BUCKET_NAME=meu-bucket
R2_EU=true