# PostgreSQL Database URL
DATABASE_URL=xxxx
# Hackclub AI API Key
HACKCLUB_AI_API_KEY=xxxx
# JWT Secret
JWT_SECRET=xxxx

R2_ACCESS_KEY_ID=xxxx
R2_SECRET_ACCESS_KEY=xxxx
R2_BUCKET_NAME=meu-bucket
R2_EU=true